<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>系统菜单路径新增</title>
	<link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
	<script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
	<form class="form-horizontal" action="#" role="form" th:action="@{/pages/sys/pages/insert}" method="post">
		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">菜单ID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="id" id="id"
						placeholder="请输入菜单ID"/>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">菜单名称:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="name" id="name"
						placeholder="请输入菜单名称"/>
			</div>
		</div>
		<div class="form-group">
			<label for="url" class="col-sm-2 control-label">菜单地址:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="url" id="url"
						placeholder="请输入菜单地址"/>
			</div>
		</div>
		<div class="form-group">
			<label for="host" class="col-sm-2 control-label">所属服务器:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="host" id="host"
						placeholder="请输入所属服务器"/>
			</div>
		</div>
		<div class="form-group">
			<label for="parent" class="col-sm-2 control-label">父节点:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="parent" id="parent"
						placeholder="请输入父节点"/>
			</div>
		</div>
		<div class="form-group">
			<label for="parents" class="col-sm-2 control-label">所有父节点:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="parents" id="parents"
						placeholder="请输入所有父节点"/>
			</div>
		</div>
		<div class="form-group">
			<label for="remark" class="col-sm-2 control-label">备注:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="remark" id="remark"
						placeholder="请输入备注"/>
			</div>
		</div>
		<div class="form-group">
			<label for="createTime" class="col-sm-2 control-label">创建时间:</label>
			<div class="col-sm-10">
				<input type="datetime" class="form-control" name="createTime" id="createTime"
						placeholder="yyyy-MM-dd HH:mm"/>
			</div>
		</div>
		<div class="form-group">
			<label for="updateTime" class="col-sm-2 control-label">更新时间:</label>
			<div class="col-sm-10">
				<input type="datetime" class="form-control" name="updateTime" id="updateTime"
						placeholder="yyyy-MM-dd HH:mm"/>
			</div>
		</div>
		<div style="text-align: right;">
			<button type="submit" class="btn btn-default">提交</button>
		</div>
	</form>
</div>

</body>
</html>